<div class='row'>

  <!-- top fish scores -->
  <div class='col-md-2'>
    
    <div class='subheader' id='fishFilterHeader'>
      Filter by fish
    </div>

    <% @fish.each do |fish| %>
    <div class='row'>
      <div class='col-md-12 mainMapFishImageAndLabelBox selected' id='fishSelect_<%= fish.id %>'>
        <img src='<%= fish.image %>' alt='<%= fish.name %> fish' class='mainMapFishFilterFishImage'/>
        <div class='mainMapFishName'>
          <%= fish.name %>
        </div>
      </div>
    </div>
    <% end %>

  </div>

  <!-- map -->
  <div class='col-md-10'>
    <div id="mainMap"></div>

    <div id='mapInfoWindow' class='mapInfoWindow'>
      <div id='mapInfoWindowClose'></div>
      <div id='mapInfoWindowContent'>
        <div id='mapInfoWindowTitle'></div>
        <div id='mapInfoWindowUSGSData'></div>
        <div id='mapInfoWindowFishScores'></div>
        <a id='mapInfoWindowReportButton' class='btn btn-default'>FULL REPORT</a>
      </div>
    </div>

  </div>

</div>

<script id="mainMapFishScore" type="text/html">
  <div class='mainMapFishScoreImageAndLabelBox'>
    <img src='/images/fishScores/${score}.svg' class='mainMapFishScoreScoreImage'/>
    <img src='${fishImage}' alt='${fishName} fish' class='mainMapFishScoreFishImage'/>
    <div class='mainMapInfoWindowFishName'>
      ${fishName}
    </div>
  </div>
</script> 


<%= javascript_tag do -%>

  window.FK.initializeMap()

  window.FK.sites = [];

  <% @sites.each do |site| %>

    var mapLineData = [];
    <% site.getMapLineData().each do |mld| %>
      var mapLine = [];
      <% mld.each do |p| %>
        mapLine.push( new google.maps.LatLng(<%= p['latitude'] %>, <%= p['longitude'] %>) );
      <% end %>
      mapLineData.push( mapLine );
    <% end %>

    window.FK.sites.push({
        id: '<%= site.id %>'
      , name: '<%= site.name %>'
      , nameURL: '<%= site.name_url %>'
      , center: new google.maps.LatLng(<%= site.latitude %>, <%= site.longitude %>)
      , isLake: <%= site.water_body_type == 'lake' %>
      , mostRecentUSGSDataValue: '<% if !site.getMostRecentUSGSData().blank? %><%= site.getMostRecentUSGSData().value %><% end %>'
      , usgsDataParameterLabel: '<%= site.getUSGSDataParameter().name %>'
      , usgsDataParameterUnits: '<%= site.getUSGSDataParameter().units_abbreviation %>'
      , fishScores: []
      , mapLineData: mapLineData
    });

  <% end %>

  <% @fish_scores.each do |fish_score| %>
    for ( var i=0; i<window.FK.sites.length; i++ ) {
      if ( window.FK.sites[i].id == <%= fish_score.site.id %> ) {
        window.FK.sites[i].fishScores.push({
            score: <%= ( fish_score.value * Settings.max_fish_score).round  %>
          , fishId: '<%= fish_score.fish.id %>'
          , fishName: '<%= fish_score.fish.name %>'
          , fishImage: '<%= raw fish_score.fish.image %>'
        });
      }
    }
  <% end %>

  window.FK.sortSiteFishScores()
  window.FK.drawSites()
  
<% end %>