<div ng-controller="TopScoreCtrl" id='topScores' class='row'>

  <!-- top fish scores -->
  <div class='col-md-6'>

    <h2>Top FishKick Scores</h2>


    <select ng-model='fishSelect'>
      <option value='' selected>All fish</option>
      <% @fish.each do |fish| %>
        <option value="<%= fish.id %>"><%= fish.name %></option>
      <% end %>
    </select>

    <div>
      <div ng-repeat="topScore in topScores | filter:{fishId:fishSelect}  | orderBy:'-score' | limitTo:<%= Settings.max_top_scores %> " class='row'>
        <a href='/report/{{topScore.siteNameURL}}'>
          <div class='col-md-2'>
            <svg class="fishScoreValue">
              <circle class="fishScoreValueCircle_{{topScore.score}}" cx="50%" cy="50%" r="50%" stroke-width="4" />
              <text ng-if='topScore.score==10' x="7%" y="74%" fill="white" font-family="Verdana" font-size="200%">
                {{topScore.score}}
              </text>
              <text ng-if='topScore.score<10' x="29%" y="74%" fill="white" font-family="Verdana" font-size="200%">
                {{topScore.score}}
              </text>
            </svg>
          </div>
          <div class='col-md-2'>
            {{topScore.siteName}}
          </div>
          <div class='col-md-8' ng-bind-html-unsafe='topScore.fishImage'>
            {{topScore.fishName}}
            <img ng-src='{{topScore.fishImage}}' alt='{{topScore.fishName}} fish' class='topFishScoreFishImage'/>
          </div>
        </a>
      </div>
    </div>

  </div>

  <!-- map -->
  <div class='col-md-6'>

    <google-map center="map.center" zoom="map.zoom" >

      <div ng-repeat="topScore in topScores | filter:{fishId:fishSelect} | limitTo:<%= Settings.max_top_scores %> " >
        <marker coords="{latitude:topScore.siteLatitude,longitude:topScore.siteLongitude}" icon="'<%= image_path('beachflag.png') %>'"></marker>
      </div>

    </google-map>

  </div>

</div>


<%= javascript_tag do -%>

  console.log('top_scores template js running')

  window.FK.bootstrapAngular()

  <% @fish_scores.each do |fish_score| %>
    window.FK.pushTopScore({
      siteName: '<%= fish_score.site.name %>',
      siteNameURL: '<%= fish_score.site.name_url %>',
      siteLatitude: '<%= fish_score.site.latitude %>',
      siteLongitude: '<%= fish_score.site.longitude %>',
      score: '<%= ( fish_score.value * Settings.max_fish_score).round  %>',
      fishId: '<%= fish_score.fish.id %>',
      fishName: '<%= fish_score.fish.name %>',
      fishImage: '<%= raw fish_score.fish.image %>'
    });
  <% end %>

<% end %>