<% content_for :head_js do %>
  <%= javascript_tag do -%>

    angular.module('fishKickApp', ['google-maps']).controller( 'TopScoreCtrl', function($scope) {
      $scope.topScores = [];

      <% @fish_scores.each do |fish_score| %>
        $scope.topScores.push({
          siteName: '<%= fish_score.site.name %>',
          siteNameURL: '<%= fish_score.site.name_url %>',
          siteLatitude: '<%= fish_score.site.latitude %>',
          siteLongitude: '<%= fish_score.site.longitude %>',
          score: '<%= fish_score.value %>',
          fishId: '<%= fish_score.fish.id %>',
          fishName: '<%= fish_score.fish.name %>',
          fishImage: '<%= raw fish_score.fish.image %>'
        });
      <% end %>

      $scope.fishSelectComparator = function (actual, expected) {
        console.log('fishSelectComparator, actual: ', actual, ', expected: ', expected);
        if (!expected) {
           return true;
        }
        return angular.equals(expected, actual);
      }

      $scope.map = {
        center: {
          latitude: -33.9,
          longitude: 151.2
        },
        zoom: 8
      };

    });

  <% end %>
<% end %>


<div ng-controller="TopScoreCtrl" id='topScores' class='row'>

  <!-- top fish scores -->
  <div class='col-md-6'>

    <h2>Top FishKick Scores</h2>


    <select ng-model='fishSelect'>
      <option value='' selected>All fish</option>
      <% @fish.each do |fish| %>
        <option value="<%= fish.id %>"><%= fish.name %></option>
      <% end %>
    </select>

    <div>
      <div ng-repeat="topScore in topScores | filter:{fishId:fishSelect} | limitTo:<%= Settings.max_top_scores %> " class='row'>
        <div class='col-md-2'>
          {{topScore.score}}
        </div>
        <div class='col-md-2'>
          {{topScore.siteName}}
        </div>
        <div class='col-md-8' ng-bind-html-unsafe='topScore.fishImage'>
          {{topScore.fishName}}
          <img ng-src='{{topScore.fishImage}}' alt='{{topScore.fishName}} fish' class='topFishScoreFishImage'/>
        </div>
      </div>
    </div>

  </div>

  <!-- map -->
  <div class='col-md-6'>

    <google-map center="map.center" zoom="map.zoom" >

      <div ng-repeat="topScore in topScores | filter:{fishId:fishSelect} | limitTo:<%= Settings.max_top_scores %> " >
        <marker coords="{latitude:topScore.siteLatitude,longitude:topScore.siteLongitude}" icon="'<%= image_path('beachflag.png') %>'"></marker>
      </div>

    </google-map>

    <!--
    <div id='mainMap' class='mainMap'>
    -->

  </div>

</div>

<%= javascript_tag do -%>
  
  window.FishKick.mainMapZoom = 10;
  window.FishKick.mainMapCenter = {
    'latitude': -33.9,
    'longitude': 151.2
  };

  /*
   * Data for the markers consisting of a name, a LatLng and a zIndex for
   * the order in which these markers should display on top of each
   * other.
  */
  window.FishKick.mainMapMarkers = [
    ['Bondi Beach', -33.890542, 151.274856, 4],
    ['Coogee Beach', -33.923036, 151.259052, 5],
    ['Cronulla Beach', -34.028249, 151.157507, 3],
    ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
    ['Maroubra Beach', -33.950198, 151.259302, 1]
  ];

  /* $(document).on( 'page:change', window.FishKick.initializeMainMap ); */
<% end %>
