<div ng-controller="TopScoreCtrl" id='topScores' class='row'>
  <!-- top fish scores -->
  <div class='col-md-5'>
    
    <!-- select -->
    <div class='row'>
      <div class='col-md-12'>
        <select ng-model='fishSelect' id='fishSelect' class="form-control">
          <option value='' selected>All fish</option>
          <% @fish.each do |fish| %>
            <option value="<%= fish.id %>"><%= fish.name %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div ng-repeat="topScore in topScores | filter:{fishId:fishSelect}  | orderBy:'-score' | limitTo:<%= Settings.max_top_scores %> " class='row'>
      <div data-href="/fishing-report/{{topScore.siteNameURL}}" onclick='location.href=this.getAttribute("data-href");' class='topFishScoreBox'>
        <div class='col-md-2'>
          <svg class="topFishScoreValue">
            <circle class="fishScoreValueCircle_{{topScore.score}}" cx="50%" cy="50%" r="50%" stroke-width="4" />
            <text ng-if='topScore.score==10' x="10%" y="73%" fill="white" font-family="Verdana" font-size="240%">
              {{topScore.score}}
            </text>
            <text ng-if='topScore.score<10' x="30%" y="75%" fill="white" font-family="Verdana" font-size="240%">
              {{topScore.score}}
            </text>
          </svg>
        </div>
        <div class='col-md-4' ng-bind-html-unsafe='topScore.fishImage' class='topFishScoreImageAndLabelBox'>
          <img ng-src='{{topScore.fishImage}}' alt='{{topScore.fishName}} fish' class='topFishScoreFishImage'/>
          <div class='topFishScoreFishName'>
            {{topScore.fishName}}
          </div>
        </div>
        <div class='col-md-6 topFishScoreSiteName'>
          {{topScore.siteName}}
        </div>
      </div>
    </div>

  </div>

  <!-- map -->
  <div class='col-md-7'>

    <div class='mainMapContainer'>
      <ui-gmap-google-map center="map.center" zoom="map.zoom" control='googleMap' options='googleMapOptions' draggable="true">

        <div ng-repeat="topScore in topScores | filter:{fishId:fishSelect} | limitTo:<%= Settings.max_top_scores %> " >
          <ui-gmap-marker idKey="topScore.$$hashKey" coords="{latitude:topScore.siteLatitude,longitude:topScore.siteLongitude}" ></ui-gmap-marker>
        </div>

      </ui-gmap-google-map>
    </div>

  </div>

</div>


<%= javascript_tag do -%>

  window.FK.initializeTopScoreController()

  window.FK.topScores = []

  <% @fish_scores.each do |fish_score| %>
    window.FK.topScores.push({
      siteName: '<%= fish_score.site.name %>',
      siteNameURL: '<%= fish_score.site.name_url %>',
      siteLatitude: '<%= fish_score.site.latitude %>',
      siteLongitude: '<%= fish_score.site.longitude %>',
      score: <%= ( fish_score.value * Settings.max_fish_score).round  %>,
      fishId: '<%= fish_score.fish.id %>',
      fishName: '<%= fish_score.fish.name %>',
      fishImage: '<%= raw fish_score.fish.image %>'
    });
  <% end %>

  scope = window.FK.getTopScoresAngularScope()

  if ( scope ) {
    scope.$apply( function() {
      scope.topScores = window.FK.topScores;
      window.FK.initializeMainMap()
    });
  }

  

<% end %>