<div id='reportDataChart' class='reportDataChart'></div>


<%= javascript_tag do -%>

  window.FishKick.chartTitle = "<%= @site.getUSGSReportDataLabel() %>";
  window.FishKick.chartData = [["Date/time", window.FishKick.chartTitle]];
  <% @site.getUSGSReportData().each do |datum| %>
    window.FishKick.chartData.push(["<%= datum['datetime'] %>", <%= datum['value'] %>]);
  <% end %>

<% end %>

<% content_for :head do %>
  <%= javascript_tag do -%>
    google.setOnLoadCallback(window.FishKick.drawReportDataChart);
    google.load('visualization', '1.0', {'packages':['corechart']});
  <% end %>
<% end %>