<div id='siteMap' class='siteMap' >
</div>

<%= javascript_tag do -%>
  var mapCenterLatitude = <%= @site.getMapCenter()['latitude'] %>;
  var mapCenterLongitude = <%= @site.getMapCenter()['longitude'] %>;

  var mapZoomLevel = <%= @site.getMapZoomLevel() %>;

  var siteIsLake = false;
  <% if @site.water_body_type == 'lake' %>
    siteIsLake = true;
  <% end %>

  var mapLineData = [];
  <% @site.getMapLineData().each do |mld| %>
    var mapLine = [];
    <% mld.each do |p| %>
      mapLine.push( new google.maps.LatLng(<%= p['latitude'] %>, <%= p['longitude'] %>) );
    <% end %>
    mapLineData.push( mapLine );
  <% end %>

  $(document).on( 'page:change', window.FishKick.initializeMap );

<% end %>