<div class='subheader'><%= @site.getUSGSDataLabel() %></div>

<div id='usgsDataChart' class='usgsDataChart'></div>

<%= javascript_tag do -%>

  window.FK.usgsChartTitle = "<%= @site.getUSGSDataLabel() %>";
  window.FK.usgsChartData = [["Date/time", "<%= @site.getUSGSDataLabel() %>"]];
  <% @site.getUSGSData().each do |datum| %>
    window.FK.usgsChartData.push(["<%= datum['datetime'].strftime("%-m/%-d") %>", <%= datum['value'] %>]);
  <% end %>
  
<% end %>

<% content_for :head do %>
  <%= javascript_tag do -%>
    google.setOnLoadCallback(window.FK.drawUSGSDataChart);
  <% end %>
<% end %>