<% unless @site %>
  <h4>Site not found</h4>
  <a href='/'>Go back</a>
<% else %>

  <% content_for :title do %>
    <%= @site.name %> Fishing Report
  <% end %>

  <% content_for :head do %>
    <%= javascript_tag do -%>
      google.load('visualization', '1.0', {'packages':['corechart']});
    <% end %>
  <% end %>

  <div class='row'>

    <div>
      <div class="reportPrimaryImage overlayImage" data-image="<%= @site.primary_image %>">
        <h1 class="overlayText left"><%= @site.name %> Fishing Report</h1>
        <h4 class="overlayText right"><%= Date.today.strftime("%A %B %-d, %Y") %></h4>
      </div>
    </div>

    <div class='col-md-10'>

      <!-- FishScores and Comments -->
      <div class='row'>
        <div class='col-md-5 fishScoreArea'>
          <%= render @site.fish_scores.sort_by {|fs| -fs.value} %>
        </div>
        <div class='col-md-7'>
          <%= render @site.report_comments.sort_by {|rc| rc.datetime} %>
        </div>
      </div>


      <!-- Graphs -->
      <div class='row'>
        <!-- USGS Data -->
        <div class='col-md-6'>
          <%= render 'usgs_data', locals: {site: @site} %>
        </div>

        <!-- Weather -->
        <div class='col-md-6'>
          <% if @site.hasWeatherData() %>
            <%= render 'weather_data', locals: {site: @site} %>
          <% end %>
        </div>
      </div>


      <!-- SiteFishInfos -->
      <% if @site.hasActiveSiteFishInfos() %>
        <div class='row'>
          <div class='col-md-1'>
          </div>
          <div class='col-md-11'>
            <div class='row'>
              <% for i in 0..11 %>
                <div class='col-md-1'>
                  <%= I18n.t('date.abbr_month_names')[i+1] %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <%= render @site.site_fish_infos.sort_by {|sfi| sfi.fish.name} %>
      <% end %>

      <!-- Description, photos, map -->
      <div class='row'>
        <div class='col-md-7'>
          <% if @site.description %>
            <h4>Description of <%= @site.name %></h4>
            <p>
              <%= @site.description %>
            </p>
          <% end %>
        </div>
        <div class='col-md-5'>
          <% if @site.site_images.size() > 0 %>
            <%= render 'site_image_carousel', locals: {site: @site} %>
          <% end %>
          <% if @site.hasGeoData() %>
            <%= render 'site_map', locals: {site: @site} %>
          <% end %>
        </div>
      </div>

    </div>

    <!-- Guides -->
    <div class='col-md-2'>
      <% if @guides.size() > 0 %>
        <h4><left>Talk to a guide</left></h4>
        <%= render @guides, locals: {site: @site} %>
      <% end %>
    </div>

  </div>
  

<% end %>