<% content_for :head do %>
  <%= javascript_include_tag 'report' %>
<% end %>

<% unless @site %>
  <h4>Site not found</h4>
  <a href='/'>Go back</a>
<% else %>

  <% content_for :title do %>
    <%= @site.name %> Fishing Report
  <% end %>

  <div class='row'>

    <div class="pageSection">
      <div class="primaryImage overlayImage" data-image="<%= @site.primary_image %>">
        <h1 class="overlayText left"><%= @site.name %> Fishing Report</h1>
        <h4 class="overlayText right"><%= Date.today.strftime("%A %B %-d, %Y") %></h4>
      </div>
    </div>

    <div class='col-md-10'>

      <!-- FishScores and Comments -->
      <div class='row pageSection'>
        <div class='col-md-3 fishScoreArea'>
          <div class='subheader'>Fish Scores</div>
          <%= render @site.fish_scores.sort_by {|fs| -fs.value} %>
        </div>
        <div class='col-md-9 reportCommentsArea'>
          <div class='subheader recentReports'>Recent Reports</div>
          <div class='addReportComment btn btn-default'>add report</div>  
          <%= render @site.report_comments.sort_by {|rc| rc.datetime} %>
        </div>
      </div>


      <!-- Graphs -->
      <% if @site.hasUSGSData() or @site.hasWeatherData() %>
        <div class='row pageSection'>
          <!-- USGS Data -->
          <div class='col-md-6'>
            <% if @site.hasUSGSData() %>
              <%= render 'usgs_data', locals: {site: @site} %>
            <% end %>
          </div>

          <!-- Weather -->
          <div class='col-md-6'>
            <% if @site.hasWeatherData() %>
              <%= render 'weather_data', locals: {site: @site} %>
            <% end %>
          </div>
        </div>
      <% end %>

      <!-- SiteFishInfos -->
      <% if @site.hasActiveSiteFishInfos() %>
        <div class='row pageSection'>
          <div class='col-md-12'>
            <div class='subheader'>Seasonality</div>
            <%= render 'site_fish_infos', locals: {site_fish_infos: @site.site_fish_infos.sort_by {|sfi| sfi.fish.name} } %>
          </div>
        </div>
      <% end %>

      <!-- Description, photos, map -->
      <div class='row pageSection'>
        <div class='row'>
          <div class='col-md-12'>
            <div class='subheader'><%= @site.name %></div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-7'>
            <% if @site.description %>
              <div id='siteDescription'>
                <%= @site.description %>
              </div>
            <% end %>
          </div>
          <div class='col-md-5'>
            <% if @site.site_images.size() > 0 %>
              <div class='siteMediaBox'>
                <%= render 'site_image_carousel', locals: {site: @site} %>
              </div>
            <% end %>
            <% if @site.hasGeoData() %>
              <div class='siteMediaBox'>
                <%= render 'site_map', locals: {site: @site} %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>

    <!-- Guides -->
    <div class='col-md-2'>
      <% if @guides.size() > 0 %>
        <div class='subheader'>Talk to a guide</div>
        <%= render @guides, locals: {site: @site} %>
      <% end %>
    </div>

  </div>
  

<% end %>

<%= javascript_tag do -%>
  window.FK.init()
<% end %>