<div class='row guideContainer'>
  <div class='col-md-4 guideImageBox'>
    <% if !guide.primary_image.blank? %>
      <div class='guideImageCircular' style="background-image:url(<%= guide.primary_image %>);"></div>
    <% end %>
  </div>
  <div class='col-md-8 guideInfoBox'>
    <strong><%= guide.getFullName() %></strong>
    <% if !guide.phone_number.blank? %>
      <div class="guidePhone"><%= guide.phone_number %></div>
    <% end %>
    <% if !guide.email_address.blank? %>
      <div class="guideEmail">
        <a class="guideEmailLink" href="mailto:<%= guide.email_address %>?Subject=<%= u("FishKick: Guide booking on " + @site.name) %>" target="_blank">
          <%= guide.email_address %>
        </a>
      </div>
    <% end %>
  </div>
</div>