<!DOCTYPE html>
<html lang="en" ng-app="fishKickApp">
  
  <head>

    <title><%= ( content_for?(:title) ? yield(:title) + ' | ' : '' ) + 'FishKick' %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= 'FishKick: ' + ( content_for?(:description) ? yield(:description) : 'Your fishing sidekick.  FishKick is the best site for fishing reports and finding fishing guides.  We specialize in Northern California fly fishing, and will be expanding to other regions.' ) %>">
    <meta name="author" content="FishKick">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Settings.google_maps_api_key %>"></script>

    <%= favicon_link_tag 'favicon.ico?v=2' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>


    <%= yield :head %>

  </head>

  <body>

    <div id="navigation" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#">
            <!--<b>FishKick</b>-->
            <%= image_tag('logo/FISHKICK 1.png', class: 'fishKickLogo') %>
          </a>
        </div>
        <div class='navbar-collapse collapse'>
          <ul class="nav navbar-nav navbar-right">
            <li><a href='/fishing-report' class='headerLink'>Reports</a></li>
            <li><a href='/about' class='headerLink'>About</a></li>
            <li><a href='/contact' class='headerLink'>Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row centered mainContentBox">
        
        <% if !notice.blank? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if !alert.blank? %>
          <p class="alert"><%= alert %></p>
        <% end %>

        <%= yield %>

      </div>
    </div>


    <div class='navbar navbar-fixed-bottom'>
      <div class='footer'>
        <div class="container">
          <div class='row'>
            <div class='col-md-1'>
              <a href='/fishing-report' class='footerLink'>Reports</a>
            </div>
            <div class='col-md-1'>
              <a href='/about' class='footerLink'>About</a>
            </div>
            <div class='col-md-1'>
              <a href='/contact' class='footerLink'>Contact</a>
            </div>
            
            <div class='col-md-3'>
              <a href="https://plus.google.com/116672312545175409850" rel="publisher" target="_blank">
                <%= image_tag('social/color-circle/googleplus.png', class: 'socialIcon') %>
              </a>
              <a href="https://twitter.com/_fishkick" rel="publisher" target="_blank">
                <%= image_tag('social/color-circle/twitter.png', class: 'socialIcon') %>
              </a>
              <a href="https://www.youtube.com/channel/UCNmkqLWRkxfpjg3qgh-Isaw" rel="publisher" target="_blank">
                <%= image_tag('social/color-circle/youtube.png', class: 'socialIcon') %>
              </a>
              <a href="https://www.facebook.com/fishkicked" rel="publisher" target="_blank">
                <%= image_tag('social/color-circle/facebook.png', class: 'socialIcon') %>
              </a>
              
            </div>

            <div class='col-md-6'>
              <a href='/' class='footerLink'>FishKick</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>