<!DOCTYPE html>
<html lang="en">
  
  <head>

    <title><%= ( content_for?(:title) ? yield(:title) + ' | ' : '' ) + 'FishKick' %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= 'FishKick: ' + ( content_for?(:description) ? yield(:description) : 'Your fishing sidekick.  FishKick is the best site for fishing reports and finding fishing guides.  We specialize in Northern California fly fishing, and will be expanding to other regions.' ) %>">
    <meta name="author" content="FishKick">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Settings.google_maps_api_key %>"></script>

    <%= favicon_link_tag 'favicon.ico?v=2' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>


    <%= yield :head %>

  </head>

  <body>

    <%= render partial: 'layouts/header' %>

    <div class="container" id="contentContainer">
      <div class="row centered mainContentBox">
        
        <% if !notice.blank? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if !alert.blank? %>
          <p class="alert"><%= alert %></p>
        <% end %>

        <%= yield %>

      </div>
    </div>

    <%= render partial: 'layouts/footer' %>

  </body>

</html>