<%= form_for [:admin, @site] do |f| %>
  <p>
    <b>Name</b><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Name in URL</b><br>
    <%= f.text_field :name_url %>
  </p>

  <p>
    <b>Description</b><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit 'Save', :class => 'btn btn-default' %>
    <%= link_to 'Cancel', :admin_sites, :class => 'btn btn-default' %>
  </p>
<% end %>