<% content_for :head do %>
  <%= javascript_include_tag 'tinymce/tinymce.min.js' %>
<% end %>

<%= nested_form_for [:admin, @site], :html => {:multipart => true} do |f| %>

  <div class='row siteFormSection'>
    <div class='col-md-1'>
      <%= f.submit 'Save', :class => 'btn btn-default' %>
    </div>
    <div class='col-md-11'>
      <%= link_to 'Cancel', :admin_sites, :class => 'btn btn-default' %>
    </div>
  </div>

  <div class='row siteFormSection'>
    <div class='col-md-4'>
      <div class='form-group'>
        <label for='site_name'>Name</label>
        <%= f.text_field :name %>
      </div>
      <div class='form-group'>
        <label for='site_name_url'>URL</label>
        <%= f.text_field :name_url %>
      </div>
      <div class='form-group'>
        <label for='site_is_active'>Active?</label>
        <%= f.check_box :is_active %>
      </div>
    </div>

    <div class='col-md-4'>
      <div class="form-group">
        <label for='site_usgs_site_id'>USGS Site ID</label>
        <%= f.text_field :usgs_site_id %>
      </div>

      <div class="form-group">
        <label for='site_water_body_type'>Water Body Type</label>
        <%= f.select :water_body_type, [:stream, :lake], {}, {class: "form-control waterBodySelect"} %>
      </div>
    </div>

    <div class='col-md-4'>
      <label>Map Lines</label>
      <div id='site_map_lines'>
        <%= f.fields_for :site_map_lines %>
      </div>
      <div>
        <%= f.link_to_add 'new map line', :site_map_lines, :data => { :target => "#site_map_lines" }, class: 'btn btn-default' %>
      </div>
    </div>
  </div>


  <div class='row siteFormSection'>
    <div id='report_comments'>
        <%= f.fields_for :report_comments %>
    </div>
    <div>
      <%= f.link_to_add 'new report comment', :report_comments, :data => { :target => "#report_comments" }, class: 'btn btn-default' %>
    </div>
  </div>

  <div class='row siteFormSection'>
    <div class='col-md-12'>
      <div class='siteFishInfoBox'>
        <div class='row'>
          <div class='col-md-2'>
            <b>Fish</b>
          </div>
          <div class='col-md-1'>
            <b>Exists?</b>
          </div>
          <div class='col-md-1'>
            <b>Max Score</b>
          </div>
          <div class='col-md-8'>
            <div class='row'>
              <% for i in 0..11 %>
                <div class='col-md-1'>
                  <b><%= I18n.t('date.abbr_month_names')[i+1] %></b>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <%= f.fields_for :site_fish_infos %>
      </div>
    </div>
  </div>

  <div class='row siteFormSection'>
    <div class='col-md-6'>
      <label>Header image</label>
      <% if !f.object.primary_image.blank? %>
        <img src='<%= f.object.primary_image %>' class='imagePreview'/>
      <% end %>
      <%= f.file_field :primary_image %>
    </div>

    <div class='col-md-6'>
      <label>Carousel images</label>
      <div id='site_images'>
        <%= f.fields_for :site_images %>
      </div>
      <%= f.link_to_add 'new image', :site_images, :data => { :target => "#site_images" }, class:'btn btn-default' %>
    </div>
  </div>


  <div class='row siteFormSection'>
    <div class='col-md-12'>
      <div class='form-group'>
        <label for='site_description'>Description</label>
        <%= f.text_area :description, class: 'descriptionInputTextbox' %>
      </div>
    </div>
  </div>


  <div class='row siteFormSection'>
    <div class='col-md-1'>
      <%= f.submit 'Save', :class => 'btn btn-default' %>
    </div>
    <div class='col-md-11'>
      <%= link_to 'Cancel', :admin_sites, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>