

<%= form_for [:admin, @site] do |f| %>
  <p>
    <b>Name</b><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Name in URL</b><br>
    <%= f.text_field :name_url %>
  </p>

  <p>
    <b>Description</b><br>
    <%= f.text_area :description %>
  </p>

  <div class='siteFishInfoBox'>
    <div class='row'>
      <div class='col-md-1'>
        Fish
      </div>
      <div class='col-md-1'>
        Exists?
      </div>
      <div class='col-md-10'>
        <div class='row'>
          <% for i in 0..11 %>
            <div class='col-md-1'>
              <%= I18n.t('date.abbr_month_names')[i+1] %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= render partial: 'siteFishInfo', collection: @fish %>
  </div>

  <p>
    <%= f.submit 'Save', :class => 'btn btn-default' %>
    <%= link_to 'Cancel', :admin_sites, :class => 'btn btn-default' %>
  </p>
<% end %>