<%= nested_form_for [:admin, @site], :html => {:multipart => true} do |f| %>

  <p>
    <b>Name</b><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Name in URL</b><br>
    <%= f.text_field :name_url %>
  </p>

  <p>
    <b>Active?</b><br>
    <%= f.check_box :is_active %>
  </p>

  <b>Location</b>
  <p>USGS Site ID: <%= f.text_field :usgs_site_id %></p>
  </p>

  <p>
    <b>Type</b><br>
    <%= f.select :water_body_type, [:stream, :lake] %>
  </p>

  <b>Map Lines</b>
  <p id='site_map_lines'>
    <%= f.fields_for :site_map_lines %>
    <p><%= f.link_to_add 'new map line', :site_map_lines, :data => { :target => "#site_map_lines" } %></p>
  </p>

  <p>
    <b>Description</b><br>
    <%= f.text_area :description %>
  </p>

  <h4>Images</h4>
  <b>Primary image</b>
  <% if !f.object.primary_image.blank? %>
    <img src='<%= f.object.primary_image %>' class='imagePreview'/>
  <% end %>
  <%= f.file_field :primary_image %>
  <br/>

  <b>Carousel images</b>
  <p id='site_images'>
    <%= f.fields_for :site_images %>
    <p><%= f.link_to_add 'new image', :site_images, :data => { :target => "#site_images" } %></p>
  </p>

  <div class='siteFishInfoBox'>
    <div class='row'>
      <div class='col-md-2'>
        <b>Fish</b>
      </div>
      <div class='col-md-1'>
        <b>Exists?</b>
      </div>
      <div class='col-md-1'>
        <b>Max Score</b>
      </div>
      <div class='col-md-8'>
        <div class='row'>
          <% for i in 0..11 %>
            <div class='col-md-1'>
              <b><%= I18n.t('date.abbr_month_names')[i+1] %></b>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= f.fields_for :site_fish_infos %>
  </div>

  <p>
    <%= f.submit 'Save', :class => 'btn btn-default' %>
    <%= link_to 'Cancel', :admin_sites, :class => 'btn btn-default' %>
  </p>
<% end %>