<div class='row'>
  <div class='col-md-2'>
    <%= f.object.fish.name %>
    <% if !f.object.fish.is_active %>
      (inactive)
    <% end %>
  </div>
  <%= f.hidden_field :fish_id, :value => f.object.fish_id.to_s %>

  <div class='col-md-1'>
    <%= f.check_box :is_active %>
  </div>
  <div class='col-md-1'>
    <% max_score_options = [] %>
    <% for i in 1..(Settings.max_fish_score) %>
      <% max_score_options.push([i, i]) %>
    <% end %>
    <%= f.select(:max_score, options_for_select(max_score_options, f.object.max_score)) %>
  </div>
  <div class='col-md-8'>
    <% month_value_options = [[0.0,0.0],[0.25,0.25],[0.50,0.50],[0.75,0.75],[1.0,1.0]] %>
    <div class='row'>
      <% for i in 0..11 %>
        <div class='col-md-1'>
          <%= f.select('month_value_' + i.to_s, options_for_select(month_value_options, f.object['month_value_' + i.to_s])) %>
        </div>
      <% end %>
    </div>
  </div>
</div>