<div class='row'>
  <div class='col-md-1'>
    <%= fish.name %>
  </div>
  <div class='col-md-1'>
    <input type='checkbox' class='hasFishCheckbox' name='siteFishInfo_<%= siteFishInfo.id %>[isActive]'>
  </div>
  <div class='col-md-10'>
    <div class='row'>
      <% for i in 0..11 %>
        <div class='col-md-1'>
          <input type='text' class='fishMonthInfo_<%= siteFishInfo.id %>' name='siteFishInfo_<%= siteFishInfo.id %>[month_value_<%= i %>]' size='1'>
        </div>
      <% end %>
    </div>
  </div>
</div>